.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.container--max {
	width: 100%;
}

.hide--elem {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.input__error {
	border: 1px solid var(--clr-primary-3);
	background-color: var(--clr-neutral-4);
}

.btn {
	font-size: 10px;
	cursor: pointer;
	transition: var(--transition);
	display: block;
	text-decoration: none;
}

.btn__primary {
	background-color: var(--clr-primary-1);
	border-radius: 18px;
	color: white;
	font-weight: 700;
	border: 1px solid transparent;
}

.btn__primary:hover {
	background-color: var(--clr-primary-2);
}

.btn__transparent {
	background-color: transparent;
}

.btn__transparent:hover {
	box-shadow: 0px 0px 5px 0px var(--clr-primary-2);
}

.btn__large {
	padding: 12px 35px;
}

.btn__small {
	padding: 6px 16px;
}

img {
	width: 100%;
}

.flex--wrapper {
	display: flex;
	flex-direction: column;
}

.inline__icon {
	flex-direction: row;
}

.fix--width {
	width: 137px;
}

.design__top {
	margin-top: 10px;
}
.design__bottom {
	margin-bottom: 10px;
}

.img--design {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: visible;
}

.design__top-1,
.design__bottom-1,
.design__top-2,
.design__bottom-2 {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-position: center;
}

.img__top-1 {
	height: 112px;
	min-height: 221px;
}
.img__top-2 {
	height: 103px;
	min-height: 204px;
}
.img__bottom-1 {
	height: 52px;
	min-height: 221px;
}
.img__bottom-2 {
	height: 101px;
	min-height: 139px;
}

.design__top-1 {
	background-image: url('./../assets/images/bg-section-top-mobile-1.svg');
}
.design__top-2 {
	background-image: url('./../assets/images/bg-section-top-mobile-2.svg');
}
.design__bottom-1 {
	background-image: url('./../assets/images/bg-section-bottom-mobile-1.svg');
}
.design__bottom-2 {
	background-image: url('./../assets/images/bg-section-bottom-mobile-2.svg');
}

.footer--icons {
	width: 100%;
	padding-bottom: 40px;
}

.footer__icon {
	color: white;
	margin-right: 15px;
}

.footer__icon:last-child {
	margin-right: 0;
}

.btn--wrapper {
	display: flex;
	justify-content: center;
}

.input--container {
	width: 90%;
	margin-right: 30px;
	position: relative;
}

.email--input__error {
	color: var(--clr-primary-3);
	position: absolute;
	bottom: -70%;
	margin: 0;
}

@media only screen and (min-width: 769px) {
	.img__top-1 {
		height: 165px;
		min-height: 0;
	}
	.design__top-1 {
		background-image: url('./../assets/images/bg-section-top-desktop-1.svg');
	}
	.design__bottom-1 {
		background-image: url('./../assets/images/bg-section-bottom-desktop-1.svg');
	}
	.design__top-2 {
		background-image: url('./../assets/images/bg-section-top-desktop-2.svg');
	}
	.design__bottom-2 {
		background-image: url('./../assets/images/bg-section-bottom-desktop-2.svg');
	}
}

@media only screen and (min-width: 820px) {
	.btn {
		font-size: 14px;
	}
	.btn__small {
		padding: 10px 22px;
	}
	.btn__primary {
		border-radius: 30px;
	}
	.btn__large {
		padding: 24px 75px;
	}

	.fix--width {
		width: 142px;
	}
}
@media only screen and (min-width: 1020px) {
	.design__top-2 {
		height: 100%;
	}
}

@media only screen and (min-width: 1435px) {
	.img__top-1 {
		min-height: 200px;
	}
}
