@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
	/* COLORS */
	--clr-primary-1: hsl(322, 100%, 66%);
	--clr-primary-2: hsl(321, 100%, 78%);
	--clr-primary-3: hsl(0, 100%, 63%);
	--clr-primary-4: hsl(207, 100%, 98%);

	--clr-neutral-1: hsl(192, 100%, 9%);
	--clr-neutral-2: hsl(207, 100%, 98%);
	--clr-neutral-3: hsl(0, 0%, 39%);
	--clr-neutral-4: hsl(0, 100%, 90%);

	/* FONTS */
	--font-family-heading: 'Poppins', sans-serif;
	--font-family-body: 'Open Sans', sans-serif;

	--transition: all 300ms ease;
}

* {
	box-sizing: border-box;
}

html {
	font-family: var(--font-family-body);
}

body {
	background-color: white;
}

body::-webkit-scrollbar {
	width: 0.8em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--clr-primary-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	font-style: normal;
	line-height: 27px;
	color: var(--clr-neutral-1);
}

p {
	line-height: 25px;
	color: var(--clr-neutral-1);
	font-size: 12px;
}

abbr {
	text-decoration: none;
}

input {
	border-radius: 7px;
	padding: 12px;
	transition: var(--transition);
}

/* @media only screen and (min-width: 680px) {
  
} */
